<div class="modal fade audit-modal" id="alertModelPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h5 id="alertHeader" class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <div id="dv_alertBody">
                </div>
                <div style="text-align:right;">
                    <input id="btnAlertYes" type="button" class="btn btn-primary" />
                    <input id="btnAlertNo" type="button" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>
