
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="../content/shared/styles/examples-offline.css" rel="stylesheet">
<link href="../../styles/kendo.common.min.css" rel="stylesheet">
<link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
<link href="../../styles/kendo.default.min.css" rel="stylesheet">
<link href="../../styles/kendo.default.mobile.min.css" rel="stylesheet">
<script src="../../js/jquery.min.js"></script>
<script src="../../js/jszip.min.js"></script>
<script src="../../js/kendo.all.min.js"></script>
<script src="../content/shared/js/console.js"></script>*@

<script>

    
    function createVisitorChart(StartDate, EndDate) {
        var TotalSolved = [];
        var TotalUnSolved = [];
        var Dates = [];
        $.ajax({
            type: 'GET',
            url: "/home/GetIsSolvedReport",
            dataType: 'json',
            data: { SDate: StartDate, EDate: EndDate },
            success: function (data) {
                var _bject = JSON.parse(data);
                $.each(_bject, function (key, value) {
                    TotalSolved.push(value.TotalSolved);
                    TotalUnSolved.push(value.TotalUnSolved);
                    Dates.push(value.Dates)
                });
              
                $("#IsSlovedchart").kendoChart({

                    title: {
                        text: "Bot Visitors Query Status"
                    },
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "column"
                    },
                    
                    series: [{
                        name: "Total Solved",
                        data: TotalSolved,
                        color: 'red'
                    }, {
                        name: "Total Unsolved ",
                        data: TotalUnSolved,
                        color: 'blue'
                    }],
                    valueAxis: {
                        // max: 50,
                        line: {
                            visible: false
                        },
                        minorGridLines: {
                            visible: true
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    categoryAxis: {
                        categories: Dates,// ["29, Oct 2018", "28, Oct 2018", "27, Oct 2018", "26, Oct 2018", "25, Oct 2018"],
                        majorGridLines: {
                            visible: false
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    tooltip: {
                        visible: true,
                        template: "#= series.name #: #= value #"
                    }
                });
            },
            error: function (ex) {

                alert('Failed.' + ex);
            }
        });

    }

    function createRatingChart(StartDate, EndDate) {
        var TotalSolved = [];
        var TotalUnSolved = [];
        var Dates = [];
        $.ajax({
            type: 'GET',
            url: "/home/GetRatingReport",
            dataType: 'json',
            data: { SDate: StartDate, EDate: EndDate },
            success: function (data) {
                var _bject = JSON.parse(data);
                $.each(_bject, function (key, value) {
                    TotalSolved.push(value.TotalRating);
                    TotalUnSolved.push(value.TotalNoRating);
                    Dates.push(value.Dates)
                });
                //debugger
                //for (var i=0; i < 5; i++)
                //{
                //   // TotalSolved.push(i+2);
                //   // TotalUnSolved.push(i + 4);
                //}
                $("#Ratingchart").kendoChart({

                    title: {
                        text: "Rating Status"
                    },
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "column"
                    },
                    series: [{
                        name: "Total Rating",
                        data: TotalSolved,
                        color: 'green'
                    }, {
                            name: "Total Unrated ",
                        data: TotalUnSolved,
                        color: 'yellow'
                    }],
                    valueAxis: {
                        // max: 50,
                        line: {
                            visible: false
                        },
                        minorGridLines: {
                            visible: true
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    categoryAxis: {
                        categories: Dates,// ["29, Oct 2018", "28, Oct 2018", "27, Oct 2018", "26, Oct 2018", "25, Oct 2018"],
                        majorGridLines: {
                            visible: false
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    tooltip: {
                        visible: true,
                        template: "#= series.name #: #= value #"
                    }
                });
            },
            error: function (ex) {

                alert('Failed.' + ex);
            }
        });
    }
    function createFailedTicketSubmissionChart(StartDate, EndDate) {
        var FailedTicketCount = [];
        //var TotalUnSolved = [];
        var Dates = [];
        $.ajax({
            type: 'GET',
            url: "/home/GetFailedTicketSubmissionReport",
            dataType: 'json',
            data: { SDate: StartDate, EDate: EndDate },
            success: function (data) {
                var _bject = JSON.parse(data);
                $.each(_bject, function (key, value) {
                    FailedTicketCount.push(value.FailedTicketCount);
                    //TotalUnSolved.push(value.TotalNoRating);
                    Dates.push(value.Dates)
                });
                //debugger
                //for (var i=0; i < 5; i++)
                //{
                //   // TotalSolved.push(i+2);
                //   // TotalUnSolved.push(i + 4);
                //}
                $("#FailedTicketSubmissionChart").kendoChart({

                    title: {
                        text: "Failed Ticket"
                    },
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "column"
                    },
                    series: [{
                        name: "Failed Ticket Count",
                        data: FailedTicketCount,
                        color: 'magenta'
                    }
                    //    ,
                    //{
                    //    name: "Total No Rating ",
                    //    data: TotalUnSolved,
                    //    color: 'yellow'
                    //    }
                    ],
                    valueAxis: {
                       // max: 5,
                        line: {
                            visible: false
                        },
                        minorGridLines: {
                            visible: true
                        }
                    },
                    categoryAxis: {
                        categories: Dates,// ["29, Oct 2018", "28, Oct 2018", "27, Oct 2018", "26, Oct 2018", "25, Oct 2018"],
                        majorGridLines: {
                            visible: false
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    tooltip: {
                        visible: true,
                        template: "#= series.name #: #= value #"
                    }
                });
            },
            error: function (ex) {

                alert('Failed.' + ex);
            }
        });
    }


    function createTicketHistoryChart(StartDate, EndDate) {
        var TotalAvgRating = [];
        var TotalUnSolved = [];
        var Dates = [];
        $.ajax({
            type: 'GET',
            url: "/home/GetTicketRaiseHistoryReport",
            dataType: 'json',
            data: { SDate: StartDate, EDate: EndDate },
            success: function (data) {
                var _bject = JSON.parse(data);
                //$.each(_bject, function (key, value) {
                //    //TotalAvgRating.push(value.AvgRating);
                //    //TotalUnSolved.push(value.TotalNoRating);
                //   // Dates.push(value.Dates)
                //});
               
                $("#TicketHistorychart").kendoChart({
                    title: {
                        position: "bottom",
                        text: "Department Ticket Raised History"
                    },
                    legend: {
                        visible: false
                    },
                    chartArea: {
                        background: ""
                    },
                    seriesDefaults: {
                        labels: {
                            visible: true,
                            background: "transparent",
                            template: "#= category #: \n #= value#"
                        }
                    },
                    series: [{
                        type: "pie",
                        startAngle: 150,
                        data: _bject
                    }],
                    tooltip: {
                        visible: true,
                        format: "{0}"
                    }
                });

            },
            error: function (ex) {

                alert('Failed.' + ex);
            }
        });
    }


    function createAvgRatingChart(StartDate, EndDate) {
        var TotalAvgRating = [];
        var TotalUnSolved = [];
        var Dates = [];
        $.ajax({
            type: 'GET',
            url: "/home/GetAvgRatingReport",
            dataType: 'json',
            data: { SDate: StartDate, EDate: EndDate },
            success: function (data) {
                var _bject = JSON.parse(data);
                $.each(_bject, function (key, value) {
                    TotalAvgRating.push(value.AvgRating);

                    //TotalUnSolved.push(value.TotalNoRating);
                    Dates.push(value.Dates)
                });
                //debugger
                //for (var i=0; i < 5; i++)
                //{
                //   // TotalSolved.push(i+2);
                //   // TotalUnSolved.push(i + 4);
                //}
                $("#AvgRatingchart").kendoChart({

                    title: {
                        text: "Average Rating Status"
                    },
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "column"
                    },
                    series: [{
                        name: "Total Avg Rating",
                        data: TotalAvgRating,
                        color: '#3366ff'
                    }
                        //    ,
                        //{
                        //    name: "Total No Rating ",
                        //    data: TotalUnSolved,
                        //    color: 'yellow'
                        //    }
                    ],
                    valueAxis: {
                        max: 5,
                        line: {
                            visible: false
                        },
                        minorGridLines: {
                            visible: true
                        }
                    },
                    categoryAxis: {
                        categories: Dates,// ["29, Oct 2018", "28, Oct 2018", "27, Oct 2018", "26, Oct 2018", "25, Oct 2018"],
                        majorGridLines: {
                            visible: false
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    tooltip: {
                        visible: true,
                        template: "#= series.name #: #= value #"
                    }
                });
            },
            error: function (ex) {

                alert('Failed.' + ex);
            }
        });
    }
    function TicketRaisedChart(StartDate, EndDate) {
        var TicketRaised = [];
        var TotalUnSolved = [];
        var Dates = [];
        $.ajax({
            type: 'GET',
            url: "/home/GetTicketRaisedChart",
            dataType: 'json',
            data: { SDate: StartDate, EDate: EndDate },
            success: function (data) {
                var _bject = JSON.parse(data);
                $.each(_bject, function (key, value) {
                    TicketRaised.push(value.TicketRaisedCount);

                    //TotalUnSolved.push(value.TotalNoRating);
                    Dates.push(value.Dates)
                });
                //debugger
                //for (var i=0; i < 5; i++)
                //{
                //   // TotalSolved.push(i+2);
                //   // TotalUnSolved.push(i + 4);
                //}
                $("#TicketRaisedChart").kendoChart({

                    title: {
                        text: "Total Ticket Raised"
                    },
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "area"
                    },
                    series: [{
                        name: "Ticket Raised",
                        data: TicketRaised,
                        color: '#4d4d00'
                    }
                        //    ,
                        //{
                        //    name: "Total No Rating ",
                        //    data: TotalUnSolved,
                        //    color: 'yellow'
                        //    }
                    ],
                    valueAxis: {
                       // max: 5,
                        line: {
                            visible: false
                        },
                        minorGridLines: {
                            visible: true
                        }
                    },
                    categoryAxis: {
                        categories: Dates,// ["29, Oct 2018", "28, Oct 2018", "27, Oct 2018", "26, Oct 2018", "25, Oct 2018"],
                        majorGridLines: {
                            visible: false
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    tooltip: {
                        visible: true,
                        template: "#= series.name #: #= value #"
                    }
                });
            },
            error: function (ex) {

                alert('Failed.' + ex);
            }
        });
    }
    function ExceptionLogChart(StartDate, EndDate) {
        var ExceptionLog = [];
        var TotalUnSolved = [];
        var Dates = [];
        $.ajax({
            type: 'GET',
            url: "/home/GetExceptionLogChart",
            dataType: 'json',
            data: { SDate: StartDate, EDate: EndDate },
            success: function (data) {
                var _bject = JSON.parse(data);
                $.each(_bject, function (key, value) {
                    ExceptionLog.push(value.ExceptionLogCount);

                    //TotalUnSolved.push(value.TotalNoRating);
                    Dates.push(value.Dates)
                });
                //debugger
                //for (var i=0; i < 5; i++)
                //{
                //   // TotalSolved.push(i+2);
                //   // TotalUnSolved.push(i + 4);
                //}
                $("#ExceptionLogChart").kendoChart({

                    title: {
                        text: "Exception Log"
                    },
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "area"
                    },
                    series: [{
                        name: "Exception Log",
                        data: ExceptionLog,
                        color: '#ff0000'
                    }
                        //    ,
                        //{
                        //    name: "Total No Rating ",
                        //    data: TotalUnSolved,
                        //    color: 'yellow'
                        //    }
                    ],
                    valueAxis: {
                        //max: 5,
                        line: {
                            visible: false
                        },
                        minorGridLines: {
                            visible: true
                        }
                    },
                    categoryAxis: {
                        categories: Dates,// ["29, Oct 2018", "28, Oct 2018", "27, Oct 2018", "26, Oct 2018", "25, Oct 2018"],
                        majorGridLines: {
                            visible: false
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    tooltip: {
                        visible: true,
                        template: "#= series.name #: #= value #"
                    }
                });
            },
            error: function (ex) {

                alert('Failed.' + ex);
            }
        });
    }

    function IntentNotunderstoodChart(StartDate, EndDate) {
        var IntentNotunderstood = [];
        var TotalUnSolved = [];
        var Dates = [];
        $.ajax({
            type: 'GET',
            url: "/home/GetIntentNotunderstoodChart",
            dataType: 'json',
            data: { SDate: StartDate, EDate: EndDate },
            success: function (data) {
                var _bject = JSON.parse(data);
                $.each(_bject, function (key, value) {
                    IntentNotunderstood.push(value.IntentNotunderstoodCount);

                    //TotalUnSolved.push(value.TotalNoRating);
                    Dates.push(value.Dates)
                });
                //debugger
                //for (var i=0; i < 5; i++)
                //{
                //   // TotalSolved.push(i+2);
                //   // TotalUnSolved.push(i + 4);
                //}
                $("#IntentNotunderstoodChart").kendoChart({

                    title: {
                        text: "Intent Not understood Chart"
                    },
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "area"
                    },
                    series: [{
                        name: "Intent Not understood Count",
                        data: IntentNotunderstood,
                        color: 'blue'
                    }
                        //    ,
                        //{
                        //    name: "Total No Rating ",
                        //    data: TotalUnSolved,
                        //    color: 'yellow'
                        //    }
                    ],
                    valueAxis: {
                        //max: 5,
                        line: {
                            visible: false
                        },
                        minorGridLines: {
                            visible: true
                        }
                    },
                    categoryAxis: {
                        categories: Dates,// ["29, Oct 2018", "28, Oct 2018", "27, Oct 2018", "26, Oct 2018", "25, Oct 2018"],
                        majorGridLines: {
                            visible: false
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    tooltip: {
                        visible: true,
                        template: "#= series.name #: #= value #"
                    }
                });
            },
            error: function (ex) {

                alert('Failed.' + ex);
            }
        });
    }
    
    $(function () {
        
        var StartDate ='';
        var EndDate = '' ;

        var date = new Date();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        if (day < 10) {
            day = "0" + day;
        }
        if (month < 10) {
            month = "0" + month;
        }
        EndDate = month + "/" + day + "/" + year; 

        var today = new Date();
        var date2 = new Date(today.setDate(today.getDate() - 10));
       // var date2 = new Date()-7;
        var day2 = date2.getDate();
        var month2 = date2.getMonth() + 1;
        var year2 = date2.getFullYear();
        if (day2 < 10) {
            day2 = "0" + day2;
        }
        if (month2 < 10) {
            month2 = "0" + month2;
        }
        StartDate = month2 + "/" + day2 + "/" + year2; 
        createVisitorChart(StartDate, EndDate);
        createRatingChart(StartDate, EndDate);
        createAvgRatingChart(StartDate, EndDate);
        createTicketHistoryChart(StartDate, EndDate);
        createFailedTicketSubmissionChart(StartDate, EndDate);
        TicketRaisedChart(StartDate, EndDate);
        ExceptionLogChart(StartDate, EndDate);
        IntentNotunderstoodChart(StartDate, EndDate);
    });
    //$(document).bind("kendo:skinChange", createVisitorChart);
    function ViewReport() {

        var StartDate = $('#startdate').val();
        var EndDate = $('#enddate').val();

        createVisitorChart(StartDate, EndDate);
        createRatingChart(StartDate, EndDate);
        createAvgRatingChart(StartDate, EndDate);
        createTicketHistoryChart(StartDate, EndDate);
        createFailedTicketSubmissionChart(StartDate, EndDate);
        TicketRaisedChart(StartDate, EndDate);
        ExceptionLogChart(StartDate, EndDate);
        IntentNotunderstoodChart(StartDate, EndDate);
    }
</script>





<section class="content">
 
        <div class="row">

        <div class="col-md-12">
               <div class="form-group has-feedback">
                <input type="date" style="width:200px;float:left; margin-right:2px" class="form-control" id="startdate" />
                </div>
            <div class="form-group has-feedback">
                <input type="date"  style="width:200px;float:left;margin-right:2px"  class="form-control" id="enddate" />
                </div>
            <div class="form-group has-feedback">
                <input type="button" id="viewbtn" value="View Report" class="btn bg-green" onclick="ViewReport()" />
               </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div id="example">
                    <div class="demo-section k-content wide">
                        <div id="IsSlovedchart" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div id="example">
                    <div class="demo-section k-content wide">
                        <div id="TicketHistorychart" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
                    </div>

                </div>
            </div>



        </div>
            <div class="row" style="margin-top:10px">

                <div class="col-md-6">
                    <div id="example">
                        <div class="demo-section k-content wide">
                            <div id="Ratingchart" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
                        </div>

                    </div>

                </div>

                <div class="col-md-6">

                    <div id="example">
                        <div class="demo-section k-content wide">
                            <div id="AvgRatingchart" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
                        </div>
                    </div>

                </div>
           
            </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-6">
            <div id="example">
                <div class="demo-section k-content wide">
                    <div id="TicketRaisedChart" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div id="example">
                <div class="demo-section k-content wide">
                    <div id="FailedTicketSubmissionChart" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-6">
            <div id="example">
                <div class="demo-section k-content wide">
                    <div id="ExceptionLogChart" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div id="example">
                <div class="demo-section k-content wide">
                    <div id="IntentNotunderstoodChart" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
                </div>

            </div>
        </div>
    </div>
    @*<div id="example">
        <div class="box wide">
            <h4>Advanced Export options</h4>
            <div class="box-col">
                <button class='export-pdf k-button'>Export as PDF</button>
            </div>
            <div class="box-col">
                <button class='export-img k-button'>Export as Image</button>
            </div>
            <div class="box-col">
                <button class='export-svg k-button'>Export as SVG</button>
            </div>
        </div>
        <div class="demo-section k-content wide">
            <div id="chart"></div>
        </div>
        <script>
            $(".export-pdf").click(function () {
                var chart = $("#chart").getKendoChart();
                chart.exportPDF({ paperSize: "auto", margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" } }).done(function (data) {
                    kendo.saveAs({
                        dataURI: data,
                        fileName: "chart.pdf",
                        proxyURL: "https://demos.telerik.com/kendo-ui/service/export"
                    });
                });
            });

            $(".export-img").click(function () {
                var chart = $("#IsSlovedchart").getKendoChart();
                chart.exportImage().done(function (data) {
                    kendo.saveAs({
                        dataURI: data,
                        fileName: "chart.png",
                        proxyURL: "https://demos.telerik.com/kendo-ui/service/export"
                    });
                });
            });

            $(".export-svg").click(function () {
                var chart = $("#chart").getKendoChart();
                chart.exportSVG().done(function (data) {
                    kendo.saveAs({
                        dataURI: data,
                        fileName: "chart.svg",
                        proxyURL: "https://demos.telerik.com/kendo-ui/service/export"
                    });
                });
            });

         

        </script>
        <script>
            // Import DejaVu Sans font for embedding

            // NOTE: Only required if the Kendo UI stylesheets are loaded
            // from a different origin, e.g. cdn.kendostatic.com
            kendo.pdf.defineFont({
                "DejaVu Sans": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
                "DejaVu Sans|Bold": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
                "DejaVu Sans|Bold|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
                "DejaVu Sans|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
                "WebComponentsIcons": "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
            });
        </script>

        <!-- Load Pako ZLIB library to enable PDF compression -->
        <script src="https://kendo.cdn.telerik.com/2017.3.913/js/pako_deflate.min.js"></script>
    </div>*@
        
</section>

