
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="../content/shared/styles/examples-offline.css" rel="stylesheet">
<link href="../../styles/kendo.common.min.css" rel="stylesheet">
<link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
<link href="../../styles/kendo.default.min.css" rel="stylesheet">
<link href="../../styles/kendo.default.mobile.min.css" rel="stylesheet">
<script src="../../js/jquery.min.js"></script>
<script src="../../js/jszip.min.js"></script>
<script src="../../js/kendo.all.min.js"></script>
<script src="../content/shared/js/console.js"></script>

<script>
    function createVisitorChart(StartDate, EndDate) {
        var TotalSolved = [];
        var TotalUnSolved = [];
        var Dates = [];
        $.ajax({
            type: 'GET',
            url: "/home/GetIsSolvedReport",
            dataType: 'json',
            data: { SDate: StartDate, EDate: EndDate },
            success: function (data) {
                var _bject = JSON.parse(data);
                $.each(_bject, function (key, value) {
                    TotalSolved.push(value.TotalSolved);
                    TotalUnSolved.push(value.TotalUnSolved);
                    Dates.push(value.Dates)
                });
                //debugger
                //for (var i=0; i < 5; i++)
                //{
                //   // TotalSolved.push(i+2);
                //   // TotalUnSolved.push(i + 4);
                //}
                $("#IsSlovedchart").kendoChart({

                    title: {
                        text: "Bot Visitors Query Status"
                    },
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "column"
                    },
                    series: [{
                        name: "Total Solved",
                        data: TotalSolved,
                        color: 'red'
                    }, {
                        name: "Total Unsolved ",
                        data: TotalUnSolved,
                        color: 'blue'
                    }],
                    valueAxis: {
                        // max: 50,
                        line: {
                            visible: false
                        },
                        minorGridLines: {
                            visible: true
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    categoryAxis: {
                        categories: Dates,// ["29, Oct 2018", "28, Oct 2018", "27, Oct 2018", "26, Oct 2018", "25, Oct 2018"],
                        majorGridLines: {
                            visible: false
                        }
                    },
                    tooltip: {
                        visible: true,
                        template: "#= series.name #: #= value #"
                    }
                });
            },
            error: function (ex) {

                alert('Failed.' + ex);
            }
        });

    }

    function createRatingChart(StartDate, EndDate) {
        var TotalSolved = [];
        var TotalUnSolved = [];
        var Dates = [];
        $.ajax({
            type: 'GET',
            url: "/home/GetRatingReport",
            dataType: 'json',
            data: { SDate: StartDate, EDate: EndDate },
            success: function (data) {
                var _bject = JSON.parse(data);
                $.each(_bject, function (key, value) {
                    TotalSolved.push(value.TotalRating);
                    TotalUnSolved.push(value.TotalNoRating);
                    Dates.push(value.Dates)
                });
                //debugger
                //for (var i=0; i < 5; i++)
                //{
                //   // TotalSolved.push(i+2);
                //   // TotalUnSolved.push(i + 4);
                //}
                $("#Ratingchart").kendoChart({

                    title: {
                        text: "Rating Status"
                    },
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "column"
                    },
                    series: [{
                        name: "Total Rating",
                        data: TotalSolved,
                        color: 'green'
                    }, {
                        name: "Total No Rating ",
                        data: TotalUnSolved,
                        color: 'yellow'
                    }],
                    valueAxis: {
                        // max: 50,
                        line: {
                            visible: false
                        },
                        minorGridLines: {
                            visible: true
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    categoryAxis: {
                        categories: Dates,// ["29, Oct 2018", "28, Oct 2018", "27, Oct 2018", "26, Oct 2018", "25, Oct 2018"],
                        majorGridLines: {
                            visible: false
                        }
                    },
                    tooltip: {
                        visible: true,
                        template: "#= series.name #: #= value #"
                    }
                });
            },
            error: function (ex) {

                alert('Failed.' + ex);
            }
        });
    }
    function createAvgRatingChart(StartDate, EndDate) {
        var TotalAvgRating = [];
        var TotalUnSolved = [];
        var Dates = [];
        $.ajax({
            type: 'GET',
            url: "/home/GetAvgRatingReport",
            dataType: 'json',
            data: { SDate: StartDate, EDate: EndDate },
            success: function (data) {
                var _bject = JSON.parse(data);
                $.each(_bject, function (key, value) {
                    TotalAvgRating.push(value.AvgRating);
                    //TotalUnSolved.push(value.TotalNoRating);
                    Dates.push(value.Dates)
                });
                //debugger
                //for (var i=0; i < 5; i++)
                //{
                //   // TotalSolved.push(i+2);
                //   // TotalUnSolved.push(i + 4);
                //}
                $("#AvgRatingchart").kendoChart({

                    title: {
                        text: "Average Rating Status"
                    },
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "column"
                    },
                    series: [{
                        name: "Total Avg Rating",
                        data: TotalAvgRating,
                        color: 'purple'
                    }
                    //    ,
                    //{
                    //    name: "Total No Rating ",
                    //    data: TotalUnSolved,
                    //    color: 'yellow'
                    //    }
                    ],
                    valueAxis: {
                        max: 5,
                        line: {
                            visible: false
                        },
                        minorGridLines: {
                            visible: true
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    categoryAxis: {
                        categories: Dates,// ["29, Oct 2018", "28, Oct 2018", "27, Oct 2018", "26, Oct 2018", "25, Oct 2018"],
                        majorGridLines: {
                            visible: false
                        }
                    },
                    tooltip: {
                        visible: true,
                        template: "#= series.name #: #= value #"
                    }
                });
            },
            error: function (ex) {

                alert('Failed.' + ex);
            }
        });
    }
    // $(document).ready(createVisitorChart);
    //$(document).bind("kendo:skinChange", createVisitorChart);
    function ViewReport() {

        var StartDate = $('#startdate').val();
        var EndDate = $('#enddate').val();
        createVisitorChart(StartDate, EndDate);
        createRatingChart(StartDate, EndDate);
        createAvgRatingChart(StartDate, EndDate);
    }
</script>





<section class="content">
    @*<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa  fa-space-shuttle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Upcoming Order</span>
                    <span class="info-box-number">4</span>
                </div>

            </div>

        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-shopping-cart"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">New Order</span>
                    <span class="info-box-number">19</span>
                </div>

            </div>

        </div>



        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-truck"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Handover Order</span>
                    <span class="info-box-number">25</span>
                </div>

            </div>

        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-rocket"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Sale Order</span>
                    <span class="info-box-number">2,000</span>
                </div>

            </div>

        </div>

    </div>*@
        <div class="row">

        <div class="col-md-12">
               <div class="form-group has-feedback">
                <input type="date" style="width:200px;float:left; margin-right:2px" class="form-control" id="startdate" />
                </div>
            <div class="form-group has-feedback">
                <input type="date"  style="width:200px;float:left;margin-right:2px"  class="form-control" id="enddate" />
                </div>
            <div class="form-group has-feedback">
                <input type="button" id="viewbtn" value="View Report" class="btn bg-green" onclick="ViewReport()" />
               </div>
            </div>
        </div>
            <div class="row">

                <div class="col-md-6">
                    <div id="example">
                        <div class="demo-section k-content wide">
                            <div id="IsSlovedchart" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-6">
                    <div id="example">
                        <div class="demo-section k-content wide">
                            <div id="Ratingchart" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
                        </div>
                        
                    </div>

                </div>
                
               

            </div>
      <div class="row" style="margin-top:10px">
        <div class="col-md-6">
            <div id="example">
                <div class="demo-section k-content wide">
                    <div id="AvgRatingchart" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
                </div>
            </div>

        </div>
        </div>
</section>

