

@{
    ViewBag.Title = "Top10";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var StartDate = '';
    var EndDate = '';
    function GetTop10TicketRaiseHistory(StartDate, EndDate) {

        var EmployeeHtml = "";
        $.ajax({
            type: 'GET',
            url: "/top10/GetTop10TicketRaiseHistoryReport",
            dataType: 'json',
            data: { SDate: StartDate, EDate: EndDate },
            success: function (data) {
                var _bject = JSON.parse(data);
               // debugger;
                $.each(_bject, function (key, value) {
                   // TotalSolved.push(value.TotalSolved);
                   // TotalUnSolved.push(value.TotalUnSolved);
                    //Dates.push(value.Dates)
                    EmployeeHtml += '<tr>';
                    EmployeeHtml += '<td>' + value.EmployeeID+'</td>';
                    EmployeeHtml += '<td>' + value.TicketRaisedCount +'</td>';
                    EmployeeHtml += '</tr>';
                });

                $('#employeeReportChart').html(EmployeeHtml);

            },
            error: function (ex) {

                alert('Failed.' + ex);
            }
        });

    }
    function GetTop10DetectedIntent(StartDate, EndDate) {

        var _Html = "";
        $.ajax({
            type: 'GET',
            url: "/top10/GetTop10DetectedIntent",
            dataType: 'json',
            data: { SDate: StartDate, EDate: EndDate },
            success: function (data) {
                var _bject = JSON.parse(data);
               // debugger;
                $.each(_bject, function (key, value) {
                    // TotalSolved.push(value.TotalSolved);
                    // TotalUnSolved.push(value.TotalUnSolved);
                    //Dates.push(value.Dates)
                    _Html += '<tr>';
                    _Html += '<td><a href="/top10/intentquestion?id=' + value.DetectedIntent+'">' + value.DetectedIntent + '</a></td>';
                    _Html += '<td>' + value.DetectedIntentCount + '</td>';
                    _Html += '</tr>';
                });

                $('#IdDetectedIntent').html(_Html);

            },
            error: function (ex) {

                alert('Failed.' + ex);
            }
        });

    }

    function GetTop10UserQuestionHistory(StartDate, EndDate) {

        var EmployeeHtml = "";
        $.ajax({
            type: 'GET',
            url: "/top10/GetTop10UserQuestionHistoryReport",
            dataType: 'json',
            data: { SDate: StartDate, EDate: EndDate },
            success: function (data) {
                var _bject = JSON.parse(data);
                // debugger;
                $.each(_bject, function (key, value) {
                    // TotalSolved.push(value.TotalSolved);
                    // TotalUnSolved.push(value.TotalUnSolved);
                    //Dates.push(value.Dates)
                    EmployeeHtml += '<tr>';
                    EmployeeHtml += '<td><a href="/top10/userquestion?id=' + value.Userid +'">' + value.Userid + '</a></td>';
                    EmployeeHtml += '<td>' + value.QuestionCount + '</td>';
                    EmployeeHtml += '</tr>';
                });

                $('#UserQuestionHistory').html(EmployeeHtml);

            },
            error: function (ex) {

                alert('Failed.' + ex);
            }
        });

    }
    $(function () {



        var date = new Date();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        if (day < 10) {
            day = "0" + day;
        }
        if (month < 10) {
            month = "0" + month;
        }
        EndDate = month + "/" + day + "/" + year;

        var today = new Date();
        var date2 = new Date(today.setDate(today.getDate() - 10));
        // var date2 = new Date()-7;
        var day2 = date2.getDate();
        var month2 = date2.getMonth() + 1;
        var year2 = date2.getFullYear();
        if (day2 < 10) {
            day2 = "0" + day2;
        }
        if (month2 < 10) {
            month2 = "0" + month2;
        }
        StartDate = month2 + "/" + day2 + "/" + year2;
        GetTop10TicketRaiseHistory(StartDate, EndDate);
        GetTop10DetectedIntent(StartDate, EndDate);
        GetTop10UserQuestionHistory(StartDate, EndDate);
    });
    //$(document).bind("kendo:skinChange", createVisitorChart);
    function ViewReport() {

        StartDate = $('#startdate').val();
        EndDate = $('#enddate').val();
        GetTop10TicketRaiseHistory(StartDate, EndDate);
        GetTop10DetectedIntent(StartDate, EndDate);
        GetTop10UserQuestionHistory(StartDate, EndDate);
    }

    function exportexcel(mode)
    {
        if (mode == 'RaisedTickets') {
            window.location = "/ExcelExport/Top10TicketRaiseExport?SDate=" + StartDate + "&EDate=" + EndDate + "";
        }
        if (mode =='Intents')
        {
            window.location = "/ExcelExport/Top10DetectedIntentExport?SDate=" + StartDate + "&EDate=" + EndDate + "";
        }
        if (mode == 'UserRaisedQusetion') {
            window.location = "/ExcelExport/Top10UserRaisedQusetionExport?SDate=" + StartDate + "&EDate=" + EndDate + "";
        }
        
    }
</script>
<script>
    var myVar;
    $(document).ajaxStop(function () {
        myVar = setTimeout(showPage, 1);
    });
    function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
    }
</script>

<div id="loader"></div>
<section class="content">

    <div class="row">

        <div class="col-md-12">
            <div class="form-group has-feedback">
                <input type="date" style="width:200px;float:left; margin-right:2px" class="form-control" id="startdate" />
            </div>
            <div class="form-group has-feedback">
                <input type="date" style="width:200px;float:left;margin-right:2px" class="form-control" id="enddate" />
            </div>
            <div class="form-group has-feedback">
                <input type="button" id="viewbtn" value="View Report" class="btn bg-green" onclick="ViewReport()" />
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">TOP 10 Employees Raised Tickets  </h3>

                    <div class="box-tools pull-right">
                        <button type="button" onclick="exportexcel('RaisedTickets')" class="btn btn-box-tool">
                            <i class="fa fa-file-excel-o"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Employee ID</th>
                                    <th>Ticket Count</th>
                                </tr>
                            </thead>
                            <tbody id="employeeReportChart"></tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>

            </div>
            <!-- /.box -->
        </div>

        <div class="col-md-6">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">TOP 10 Intents   </h3>

                    <div class="box-tools pull-right">
                        <button type="button" onclick="exportexcel('Intents')" class="btn btn-box-tool">
                            <i class="fa fa-file-excel-o"></i>
                        </button>
                        @*<a  href="../../query/exporttoexcel/" style="margin:10px;"><i class="fa fa-file-excel-o"></i></a>*@
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Detected Intent</th>
                                    <th>Total No.</th>

                                </tr>
                            </thead>
                            <tbody id="IdDetectedIntent"></tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                @*<div class="box-footer clearfix">
                        <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-right">View All Orders</a>

                    </div>*@
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>


    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">TOP 10 User Raised Question </h3>

                    <div class="box-tools pull-right">
                        <button type="button" onclick="exportexcel('UserRaisedQusetion')" class="btn btn-box-tool">
                            <i class="fa fa-file-excel-o"></i>
                        </button>
                        @*<a id="aaaaa" href="/ExcelExport/Top10ExportToExcel?SDate='10/10/2018'&EDate='10/11/2018'" style="margin:10px;"><i class="fa fa-file-excel-o"></i></a>*@
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Question Count</th>
                                </tr>
                            </thead>
                            <tbody id="UserQuestionHistory"></tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>

            </div>
            <!-- /.box -->
        </div>
    </div>
</section>



